*{
    font-family: 'Poppins', sons-serif;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../img/samuel-ferrara-1527pjeb6jg-unsplash.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tittle-action{
    color: rgb(187, 82, 12);
}
.main-container{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 10%;
    display: flex;
    position: relative;
    width: 60%;
    height: 350px;
}

.sign-up-container{
    display: block;
    background-color: white;
    z-index: 2;
    position: absolute;
    width: 20%;
}
.action-1{
    display: none;
}
.action-2{
    display: flex;
}
.question{
    color: white;
    display: block;
    position: relative;
    z-index: 1;
    width: 35%;
    text-align: left;
    margin: 20px;
    
    
}
.login-container{
    display: block;
    background-color: white;
    height: 400px;
    z-index: 2;
    position: absolute;
    top: -25px;
    right: 0;
    width: 40%;
    margin-right: 40px;   
}
.switch{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 15px; /* valor ajustable */
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Agrega transición a todos los cambios */
    width: 110px;
}
.switch:hover{
    background-color: white;
  color: black;
}

.formulario{
    margin: 30px 20px 25px 40px;
}